

/* //////
FUCKING STUPID RESET
////// */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* //////
FUCKING STUPID RESET
////// */


body {
  font-family: "bakemono-variable",sans-serif;
  background: #2e3338;
}





#title-text {
  color: #41af6f;
  font-size: 14pt;
  font-variation-settings: 'wght' 471, 'MONO' 920;
  text-align: center;
}

#subtitle {
  text-align: center;
  color: white;
  font-size: 12pt;
  font-variation-settings: 'wght' 338, 'MONO' 920;
}

#page-letter-text {
  position: absolute;
  color: #41af6f;
  font-size: 12pt;
  font-variation-settings: 'wght' 300, 'MONO' 920;
  z-index: 1;
}

#body-page {
  width: 5in;
  height: 5in;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#green-rectangle {
  position: absolute;
  background-color: #41af6f;
  height: 6in;
  width: 0.25in;
  
}

#circle {
  height: 1.15in;
  width: 1.15in;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #41af6f;
  position: absolute;
}


#letterbox {
  display: flex;
  width: 4in;
  height: 4in;
  /* background-color: aqua; */
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  flex-direction: row;
  flex-wrap: wrap;

  /* help why is there space between the grid eek */

}


#letterimage {
  display: inline-block;
  width: 1.33in;
  margin: 0%;
}

.page {
  break-before: page;
}



@media print {
  body {
    background: #2e3338;
  }
}

@page {
  size: 5.0in 5.0in;
  margin-top: 0;
  margin-bottom: 0;
  bleed: 0.25in;
  marks: crop;
}
@page:left {
  margin-left: 0;
  margin-right: 0.125in;
}
@page:right {
  margin-left: 0in;
  margin-right: 0in;
}